<%= form_with(model: new_project, local: true) do |form| %>
  <% if new_project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(new_project.errors.count, "error") %> prohibited this new_project from being saved:</h2>

      <ul>
        <% new_project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :new_project_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :new_project_description, rows: 10, cols: 60 %>
  </div>

  <div class="field">
    <%= form.label :img_url %>
    <%= form.text_field :img_url, id: :new_project_img_url %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.text_field :date, id: :new_project_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
