<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @app.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @app.email %>
</p>

<p>
  <strong>Location:</strong>
  <%= @app.location %>
</p>

<p>
  <strong>Date:</strong>
  <%= @app.date %>
</p>

<%= link_to 'Edit', edit_app_path(@app) %> |
<%= link_to 'Back', apps_path %>
