<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @sale.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sale.description %>
</p>

<p>
  <strong>Img url:</strong>
  <%= @sale.img_url %>
</p>

<p>
  <strong>Price:</strong>
  <%= @sale.price %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
