
<link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Gochi+Hand&display=swap" rel="stylesheet">

<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="http://localhost:3000/">HOME</a>
  <form class="form-inline">
    <div style="padding-left: 10px;">
      <a class="btn btn-outline-primary" href="http://localhost:3000/project/index" role="button">
      PROJECTS
      </a>
    </div>
    <div style="padding-left: 10px;">
      <a class="btn btn-outline-primary" href="http://localhost:3000/" role="button">
      NEW DEVELOPMENT
      </a>
    </div>
    <div style="padding-left: 10px;">
      <a class="btn btn-outline-primary" href="http://localhost:3000/infos" role="button">
      REQUEST MORE INFO
      </a>
    </div>
    <div style="padding-left: 10px;">
      <a class="btn btn-outline-primary" href="http://localhost:3000/comments" role="button">
      CONTACT US
      </a>
    </div>
  </form>
</nav>

<h1> <a href="http://localhost:3000/"><%= image_tag("logos/logo.PNG") %></a></h1>
<h2>REQUEST MORE INFO</h2>
<p>Leave your contact info here, and we will reach out to you ASAP!</p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @infos.each do |info| %>
      <tr>
        <td><%= info.name %></td>
        <td><%= info.phone %></td>
        <td><%= info.address %></td>
        <td><%= link_to 'Show', info %></td>
        <td><%= link_to 'Edit', edit_info_path(info) %></td>
        <td><%= link_to 'Delete', info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Info', new_info_path %>
